
.form-group {
    margin-bottom: px;
    padding: 9px;
   
}

label {
    display: block;
    font-weight: bold;
    
}

input[type="text"],
select,
textarea {

    width: 99%;
    padding: 3px;
    
}

.error {
    color: red;
  
}