
.form-group {
    margin-bottom: 13px;
    padding-left: 30px;
   width: 97%;
}

label {
    display: block;
    font-weight: bold;
    
}

input[type="text"],
select,
textarea {

   
    padding: 10px;
    
}

.error {
    color: red;
  
}
