.product-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }

  .hinh-sp {
    flex: 1;
    margin-right: 20px;
  }

  .hinh {
    width:200px;
    height: auto;
  }

  .product-details p {
    margin-bottom: 10px;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
